.login {
    background-color: transparent;
    border: none;
    position: relative;
}

.login img{
    filter: brightness(300%);
    width: 50px;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
}

.login:hover {
    filter: invert(18%) sepia(75%) saturate(4636%) hue-rotate(268deg) brightness(93%) contrast(91%);
}