.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    min-width: 350px;
    height: 500px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #ccc;
    font-size: 20px;
}

.account_info {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.account_info h2 {
    border-bottom: 2px solid #8A2BE2;
}

.account_info input {
    height: 38px;
    width: 232px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8A2BE2;
    padding-left: 10px;
    color: #ccc;
}

.errors {
    color: #ccc;
}